<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBA_YW3WbhUgEwNC9bIsGASOyz4av4xKk4</string>
	<key>GCM_SENDER_ID</key>
	<string>789779071696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.targetApp</string>
	<key>PROJECT_ID</key>
	<string>targetapp-2af6f</string>
	<key>STORAGE_BUCKET</key>
	<string>targetapp-2af6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789779071696:ios:659e5652f4b432220014d5</string>
</dict>
</plist>